body{
    background-color: #262326;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 10px;
}

a{
    color:#FFD939;
}

strong{
    color:#FFD939;
}

.title{
    color:#FFD939;
    font-size: 32px;
    font-weight: bold;
}

.avatar{
    border: 4px solid #FFD939;
    border-radius: 50%;
}

.description{
    width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.infos{
    width: 300px;
    border-radius: 20px;
    background-color:#3b383b;
    padding: 20px 20px;
    line-height: 24px;
}

.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}